iphones.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="iphone_sales" type="IphoneSalesType"/>

  <xs:complexType name="IphoneSalesType">
    <xs:sequence>
      <xs:element name="analytics" type="AnalyticsType"/>
      <xs:element name="iphone_models" type="IphoneModelsType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AnalyticsType">
    <xs:sequence>
      <xs:element name="period" type="xs:string"/>
      <xs:element name="total_models" type="xs:integer"/>
      <xs:element name="methodology" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="source" type="xs:string" use="required"/>
    <xs:attribute name="year" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="IphoneModelsType">
    <xs:sequence>
      <xs:element name="model" type="ModelType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="category" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="ModelType">
    <xs:sequence>
      <xs:element name="specifications" type="SpecificationsType"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="SpecificationsType">
    <xs:sequence>
      <xs:element name="image" type="xs:string"/>
      <xs:element name="release_year" type="xs:integer"/>
      <xs:element name="display" type="xs:string"/>
      <xs:element name="sales" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>