iphones.dtd

<!ELEMENT iphone_sales (analytics, iphone_models)>

<!ELEMENT analytics (period, total_models, methodology)>
<!ATTLIST analytics
    source CDATA #REQUIRED
    year CDATA #REQUIRED
>

<!ELEMENT period (#PCDATA)>
<!ELEMENT total_models (#PCDATA)>
<!ELEMENT methodology (#PCDATA)>

<!ELEMENT iphone_models (model+)>
<!ATTLIST iphone_models
    category CDATA #REQUIRED
>

<!ELEMENT model (specifications)>
<!ATTLIST model
    name CDATA #REQUIRED
>

<!ELEMENT specifications (image, release_year, display, sales)>

<!ELEMENT image (#PCDATA)>
<!ELEMENT release_year (#PCDATA)>
<!ELEMENT display (#PCDATA)>
<!ELEMENT sales (#PCDATA)>
